body {
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #030B1F;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #091636;
}


/* Header */
header {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    padding: 100px;
    text-align: left;
    background: #b8b6b6fa;
    color: rgb(255, 255, 255);
}

.p1{

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding:0;
    text-align: left;
}




/* #grad1 {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    rgb(173, 216, 230),
    white,
    white
  );
    background-repeat: no-repeat;
    background-size: cover;
} */

/* h2, p {
  margin: 10px;
} */

/* .title {
    text-align:center;
    } */

/* 
h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #030B1f;
    } */

/* .underline {
    border-bottom: 1px solid #030B1F;
    padding-bottom: 9px;
    } */

/* p{
    font-family: 'Open Sans', sans-serif;
    color: #0630A8;
    } */

/* .newspaper {
    column-count: 4;
    column-gap: 10px;
    column-rule: 2px solid #030B1F;

    max-width: 500px;
    margin: 20px auto;

    font-size: 15px;
    line-height: 1.5;
    color: #030B1F;
    }

.col {
    column-count: 5;
    column-gap: 10px;
    column-rule: 2px solid #030B1F;

    max-width: 700px;
    margin: 20px auto;
   
    font-size: 15px;
    line-height: 1.5;
    color: #030B1F;
    } */

/* .next-column {
    break-before: column;
    } */

.button {
    background-color: #0c45d4;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    margin: 5px;
    }

.button:hover {
    opacity: 1;
    transform: translateY(-2px);
    }

.dropbtn {
    background-color: #0c45d4;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    margin: 5px;
    }

.dropbtn:hover {
    opacity: 1;
    transform: translateY(-2px);
    }

.dropdown {
    position: relative;
    display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.dropdown-content a:hover {
    background-color: #f1f1f1;
    }

.dropdown:hover .dropdown-content {
    display: block;
    }

.dropdown:hover .dropbtn {
    background-color: #0c45d4;
    }

/* footer {
    background-color: #030B1F;
    color: #fff;
    text-align: center;
    padding: 20px;
    }

.white_underline {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 9px;
    } */